html * {
  font-family: 'Boogaloo', cursive;
}


.App {
  text-align: center;
  font-family: 'Boogaloo', cursive;
  font-size: 1.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
    width: 90%;
    height: 20px;
}


.fullHeader {
  color:  #0099cc;
  padding: 10px;
}

.headerLeft {
  left:0;
  top: 0;
  position: absolute;
  padding: 20px;
}

.headerRight {
  right: 0;
  top: 0;
  position: absolute;
  padding: 20px;
}

.togetherLogo {
  font-size: 50px;
  margin: 20px;
  padding: 20px;
}

.ideaForm {
  font-size: 20px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-style: solid;
  border-color: #0099cc;
}

/*.ideaCardImage {
  opacity: .5;
  margin: 0 auto;
  position: relative;
}*/

.miniIdea {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.miniIdeaIcon {
  animation: bounce infinite 3s;
  border-radius: 10%;
  height: 100px;
  position: relative;
}

.miniIdeaIcon.Owned {

}

.miniIdeaCaption {
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.miniIdeaIcon:hover {
  animation: shake  0.82s cubic-bezier(.36,.07,.19,.97) both;
}
/*
.ideaCard::before {
  content: url('./plantSeed.jpg');
  opacity: 0.5;
  position: relative;
  margin: 0 auto;
  z-index: -1
}*/

.ideaCard {
  padding: 20px;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  border-style: solid;
  border-color: #0099cc;
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes bounce {
 0%{-webkit-transform:rotate(0deg)}
    25%{-webkit-transform:rotate(5deg)}
    75%{-webkit-transform:rotate(-5deg)}
    100%{-webkit-transform:rotate(0deg)}
}
